Effects/
Misc/
Pickups/
Players/
Props/
RandomSpawners/
SpawnPoints/
Weapons/
WeaponsHD/

Effects.meta
Misc.meta
Pickups.meta
Players.meta
Props.meta
RandomSpawners.meta
SpawnPoints.meta
Weapons.meta
WeaponsHD.meta